[Unit]
Description=Pi Dashboard
After=network.target

[Service]
Type=simple
User=pi
SupplementaryGroups=shadow
WorkingDirectory=/home/pi/Documents/pi_dashboard/server
Environment=NODE_ENV=production
ExecStart=/usr/local/bin/node src/index.js
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
